%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warn_untyped_records,
  warnings_as_errors,
  nowarn_export_all,
  {parse_transform, lager_transform}]}.

{deps,
 [
  lager,
  uuid_erl,
  folsom,
  {cqerl, {git, "https://github.com/matehat/cqerl.git", "master"}},
  {marina, {git, "https://github.com/lpgauth/marina.git", "master"}}
 ]}.

{relx, [{release, { cass_test, "0.1.0" },
         [cass_test,
          marina,
          cqerl,

          uuid,
          folsom,
          lager,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
